PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/
MONGODB_DB=Klin
JWT_SECRET=your_jwt_secret_here
VITE_GOOGLE_CLIENT_ID=your_google_client_id
VITE_GOOGLE_REDIRECT_URI=http://localhost:5173/auth/callback
GOOGLE_CLIENT_SECRET=your_google_client_secret
RESEND_API_KEY=your_resend_api_key
VITE_AUTH_REDIRECT_URL=http://localhost:5173/auth/callback

# For production, update VITE_GOOGLE_REDIRECT_URI to your production domain
# Example: https://yourdomain.com/auth/callback
